@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row mx-auto">
        <div class=" col-md-12 rounded">
            <h2>Today</h2>
            <table class="table table-striped table-bordered table-hover table-condensed" id="todaysMealLogTable">
                <partial name="_TodaysMealLogTable" model=@Model />
            </table>
        </div>
    </div>
    <div class="row mx-auto">
        <div class=" col-md-6" align="center">
            <div class="card" style="width: 18rem;">
                <img src="~/images/apple.svg" class="card-img-top" alt="Products">
                <a href="/product/list" class="btn btn-light stretched-link">Go to products</a>
            </div>
        </div>
        <div class="col-md-6" align="center">
            <div class="card" style="width: 18rem;">
                <img src="~/images/meal.svg" class="card-img-top" alt="Meals">
                <a href="/meal/list" class="btn btn-light stretched-link">Go to meals</a>
            </div>
        </div>
    </div>
    <div class="row mx-auto">
        <div class=" col-md-6" align="center">
            <div class="card" style="width: 18rem;">
                <img src="~/images/scanner-unavailable.svg" class="card-img-top" alt="Scanner">
                <a href="/product/list" class="btn btn-light stretched-link">Go to scanner</a>
            </div>
        </div>
        <div class="col-md-6" align="center">
            <div class="card" style="width: 18rem;">
                <img src="~/images/bar-chart-unavailable.svg" class="card-img-top" alt="Meals">
                <a href="/meal/list" class="btn btn-light stretched-link">Go to charts</a>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    list = "#todaysMealLogTable";
function loadTodaysMealLog(){
	var urlBase = "/Home/TodaysMealsList";
	    $(list).load(urlBase);
    }
    window.onload = loadTodaysMealLog
</script>