<div  id="productModal" class="modal-body">
    <form>
        <div class="form-group">
            <label>Product name</label>
            <input class="form-control" placeholder="Enter product name">
        </div>
        <div class="form-group">
            <label>Kcal</label>
            <input class="form-control" placeholder="Enter kcal">
        </div>
        <div class="form-group">
            <label>Protein</label>
            <input class="form-control" placeholder="Enter protein in g">
        </div>
        <div class="form-group">
            <label>Carbohydrates</label>
            <input class="form-control" placeholder="Enter carbohydrates in g">
        </div>
        <div class="form-group">
            <label>Fat</label>
            <input class="form-control" placeholder="Enter fat in g">
        </div>
        <button type="button" class="btn btn-dismiss">Dismiss</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
