@model int

    <div class="btn-group" role="group">
        <a type="button" class="btn" href="@Url.Action("Consume", new { id=Model })">
            <i class="text-white"></i>
        </a>
        <a type="button" class="btn btn-primary" href="@Url.Action("Edit", new { id=Model })">
            <i class="fas fa-edit text-white"></i>
        </a>
        <a type="button" class="btn btn-danger" href="@Url.Action("Delete", new { id=Model })">
            <i class="fas fa-trash text-white"></i>
        </a>
    </div>