@model int

<div class="btn-group" role="group">
    <a type="button" class="btn btn-primary" title="Edit" href="@Url.Action("Edit", new { id=Model })">
        <i class="fas fa-edit text-white"></i>
    </a>
    <a type="button" class="btn btn-success" title="Details" href="@Url.Action("Details", new { id=Model })">
        <i class="fas fa-trash text-white"></i>
    </a>
    <a type="button" class="btn btn-danger" title="Delete" href="@Url.Action("Delete", new { id=Model })">
        <i class="fas fa-trash text-white"></i>
    </a>
</div>