</br>
<div class="d-flex justify-content-sm-center flex-column align-items-center">
        <h2>Site under construction</h2>
        <img src="~/images/under-construction.svg" alt="Site under construction" class="w-75">
</div>