@model UserViewModel

<br>
<h1>User panel</h1>
<br>

<!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

    <!-- Accordion card -->
    <div class="card collapsible" id="userNutritionAccordion">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingTwo1">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1">
                <h5 class="mb-0">
                    Nutrition <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapseTwo1" class="collapse" role="tabpanel" data-parent="#accordionEx1">
            <div class="card-body">
                <form id="nutritionForm" name="nutritionForm">
                    <!-- KCAL INTAKE-->
                    <div>
                        <span>Daily <b>Kcal</b> intake</span>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label class="col-sm-2 col-form-label" for="currentKcalIntake">Current :<span id="currentKcalIntake"></span></label>
                        <label class="col-sm-2 col-form-label" for="kcalIntake">New</label>
                        <div class="input-group col-sm-3">
                            <input id="kcalIntake" name="kcal" autocomplete="off" type="text" class="form-control numeric" placeholder="Kcal">
                        </div>
                    </div>
                    <!-- PROTEIN INTAKE-->
                    <div>
                        <span>Daily <b>Protein</b> intake</span>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label class="col-sm-2 col-form-label" for="currentProteinIntake">Current :<span id="currentProteinIntake"></span></label>
                        <label class="col-sm-2 col-form-label" for="proteinIntake">New</label>
                        <div class="input-group col-sm-3">
                            <input id="proteinIntake" name="protein" autocomplete="off" type="text" class="form-control numeric" placeholder="Protein">
                        </div>
                    </div>
                    <!-- CARBOHYDRATES INTAKE-->
                    <div>
                        <span>Daily <b>Carbohydrates</b> intake</span>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label class="col-sm-2 col-form-label" for="currentCarbohydratesIntake">Current :<span id="currentCarbohydratesIntake"></span></label>
                        <label class="col-sm-2 col-form-label" for="carbohydratesIntake">New</label>
                        <div class="input-group col-sm-3">
                            <input id="carbohydratesIntake" name="carbohydrates" autocomplete="off" type="text" class="form-control numeric"
                            placeholder="Carbohydrates">
                        </div>
                    </div>
                    <!-- FAT INTAKE-->
                    <div>
                        <span>Daily <b>Fat</b> intake</span>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label class="col-sm-2 col-form-label" for="currentFatIntake">Current :<span id="currentFatIntake"></span></label>
                        <label class="col-sm-2 col-form-label" for="fatIntake">New</label>
                        <div class="input-group col-sm-3">
                            <input id="fatIntake" name="fat" autocomplete="off" type="text" class="form-control numeric" placeholder="Fat">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="PostUserNutrition()">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Accordion card -->
    <div class="card collapsible" id="userWeightAccordion" >

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingTwo2">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo21">
                <h5 class="mb-0">
                    Weight <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapseTwo21" class="collapse" role="tabpanel" data-parent="#accordionEx1">
            <form id="weightForm" name="weightForm">
                <div class="card-body">
                    <!-- FAT INTAKE-->
                    <div>
                        <span>Current <b>Weight</b></span>
                    </div>
                    <div class="row justify-content-center">
                        <label class="col-sm-2 col-form-label" for="currentWeight">Current :<span id="currentWeight"></span></label>
                        <label class="col-sm-2 col-form-label" for="weight">New</label>
                        <div class="form-group input-group col-sm-3">
                            <input id="weight" name="weight" autocomplete="off" type="text" class="form-control numeric" placeholder="Weight">
                        </div>
                    </div>
                    <button type="button"class="btn btn-primary" onclick="PostUserWeight()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>