<form>
    <h1>New Meal</h1>

    <!----------- PRODUCT FINDER ----------->
    <h2>Find products</h2>

    <div class="form-group">
        <div class="input-group">
            <input id="productName" type="text" class="form-control" placeholder="Chic">
            <div class="input-group-append">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#productModal">Add</button>
            </div>
        </div>
    </div>
    <hr class="mb-4">
    <div>
        <table class=" table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width: 40%">
                        Product
                    </th>
                    <th style="width: 40%">
                        Nutrients
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Chicken
                    </td>
                    <td>
                        Kcal: 239 / P: 21.4 / C: 0/ F: 3.
                        7 </td>
                </tr>
                <tr>
                    <td>
                        Chickpeas
                    </td>
                    <td>
                        Kcal: 378 / P: 20.5 / C: 61/ F: 6 </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!----------- CURRENT COMPOSITION ----------->
    <h2>Current composition</h2>
    <hr class="mb-4">
    <div>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width: 40%">
                        Product
                    </th>
                    <th style="width: 40%">
                        Weight
                    </th>
                    <th style="width: 20%">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Wholemeal roll
                    </td>
                    <td>
                        <div class="input-group">
                            <input type=" text" class="form-control input-sm" placeholder="60"
                            aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text">g</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <partial name="_EditDeleteButtonPartial" model="1" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Turkey ham
                    </td>
                    <td>
                        <div class="input-group ">
                            <input type="text" class="form-control input-sm" placeholder="55"
                            aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text">g</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <partial name="_EditDeleteButtonPartial" model="1" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Cottage cheese
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" placeholder="150"
                            aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text">g</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <partial name="_EditDeleteButtonPartial" model="1" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Tomato
                    </td>
                    <td>
                        <div class="input-group  input-sm">
                            <input type="text" class="form-control input-sm" placeholder="50"
                            aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text">g</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <partial name="_EditDeleteButtonPartial" model="1" />
                    </td>
                </tr>
            </tbody>
            <tr>
                <td colspan="3">
                    <b>
                        Kcal: 295.6 /
                        P: 32.7 /
                        C: 37.3 /
                        F: 1.9
                    </b>
                </td>
            </tr>
        </table>
        <div class="form-group d-flex justify-content-between">
            <div class="input-group w-50">
                <input id="mealName" type="text" class="form-control " placeholder="Name">
            </div>
            <div class="input-group w-25">
                <input id="portionQty" type="text" class="form-control" placeholder="1">
                <div class="input-group-append">
                    <span class="input-group-text">pcs</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="float-right">
                <button type="submit" class="btn btn-success">Consume</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>

<!----------- PRODUCT ADD MODAL ----------->
<div id="productModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="container">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Add Product</h1>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Product name</label>
                            <input class="form-control" placeholder="Product name">
                        </div>
                        <div class="form-group">
                            <label>Kcal</label>
                            <input class="form-control" placeholder="Kcal">
                        </div>
                        <div class="form-group">
                            <label>Protein</label>
                            <input class="form-control" placeholder="Protein [g]">
                        </div>
                        <div class="form-group">
                            <label>Carbohydrates</label>
                            <input class="form-control" placeholder="Carbohydrates [g]">
                        </div>
                        <div class="form-group">
                            <label>Fat</label>
                            <input class="form-control" placeholder="Fat [g]">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dismiss" data-toggle="modal"
                    data-target="#productModal">Dismiss</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>